Landeeyo.Cis/bin/Debug/Landeeyo.Cis.exe
Landeeyo.Cis/bin/Debug/Landeeyo.Cis.exe.config
Landeeyo.Cis/bin/Debug/Landeeyo.Cis.pdb
Landeeyo.Cis/bin/Debug/Landeeyo.Cis.vshost.exe
Landeeyo.Cis/bin/Debug/Landeeyo.Cis.vshost.exe.config
Landeeyo.Cis/bin/Debug/Landeeyo.Cis.vshost.exe.manifest
Landeeyo.Cis/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Landeeyo.Cis/obj/Debug/Landeeyo.Cis.csproj.FileListAbsolute.txt
Landeeyo.Cis/obj/Debug/Landeeyo.Cis.csprojResolveAssemblyReference.cache
Landeeyo.Cis/obj/Debug/Landeeyo.Cis.exe
Landeeyo.Cis/obj/Debug/Landeeyo.Cis.pdb
Landeeyo.Cis/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Landeeyo.Cis/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Landeeyo.Cis/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
